<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
  ...
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><strong>Twitter</strong></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li th:classappend="${module == 'home' ? 'active' : ''}">
          <a href="#" th:href="@{/}">My tweets</a>
        </li>
        <li th:classappend="${module == 'tasks' ? 'active' : ''}">
          <a href="#" th:href="@{/new}">Create a User</a>
        </li>
        <li th:classappend="${module == 'tasks' ? 'active' : ''}">
          <a href="#" th:href="@{/tweets}">Tweets</a>
        </li>
        <li th:classappend="${module == 'tasks' ? 'active' : ''}">
          <a href="#" th:href="@{/all}">Display all Users</a>
        </li>
        <li th:classappend="${module == 'tasks' ? 'active' : ''}">
          <a href="#" th:href="@{/overview}">Profile overview</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div th:fragment="post1" style="margin: 60px">


    <!--/*@thymesVar id="tweet" type="com.javalanguagezone.interviewtwitter.domain.Tweet"*/-->
    <form th:action="@{/tweets/tweet}" th:object="${tweet}" method="post">
      <div class="row">
        <div class="col">
      <input type="text" th:field="*{content}" class="form-control"  placeholder="What's happening? Tell us!">
        </div>
        <div class="col">
          <input class="form-control" type="submit" value="Submit" />
        </div>
      </div>
    </form>
<script>
  $(document).ready(function(){
    var $form = $('form');
    $form.submit(function(){
      $.post($(this).attr('action'), $(this).serialize(), function(response){

      },'json');
      return false;
    });
  });
</script>
</div>
</body>
</html>
