<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
  ...
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><strong>Twitter</strong></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li th:classappend="${module == 'home' ? 'active' : ''}">
          <a href="#" th:href="@{/}">My tweets</a>
        </li>
        <li th:classappend="${module == 'tweets' ? 'active' : ''}">
          <a href="#" th:href="@{/tweets}">Tweets</a>
        </li>
        <li th:classappend="${module == 'overview' ? 'active' : ''}">
          <a href="#" th:href="@{/overview}">Profile overview</a>
        </li>
        <li th:classappend="${module == 'new' ? 'active' : ''}">
          <a href="#" th:href="@{/new}">Create a User</a>
        </li>
        <li th:classappend="${module == 'all' ? 'active' : ''}">
          <a href="#" th:href="@{/all}">Display all Users</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div th:fragment="post1" style="margin: 60px">
    <!--/*@thymesVar id="tweet" type="com.javalanguagezone.interviewtwitter.domain.Tweet"*/-->
  <div class="panel panel-default">
    <div class="panel-body">
    <form th:action="@{/tweets/tweet}" th:object="${tweet}" method="post">
      <div class="col-md-6 col-md-offset-3">
        <div class="col-md-8 form-group">
      <input type="text" th:field="*{content}" class="form-control"  placeholder="What's happening? Tell us!">
        </div>
        <div class="col-md-4 form-group">
          <input class="btn-group" type="submit" value="Submit" />
        </div>
      </div>
    </form>
    </div>
  </div>
</div>
</body>
</html>
